# MATLAB & Simulink temporary files
*.slxc
slprj/
*.asv
*.bin

# Build artifacts
build/
*.o
profile_gaps
test_real_layers
test_28_layers_real
test_gemv_q6_k


# Python cache
__pycache__/
*.pyc

# System / OS
.DS_Store
Thumbs.db
